.about-me {
  position: relative;

  &__line {
    position: relative;

    &::before {
      content: url(../img/lines/about-me-line-1.svg);
      position: absolute;
      left: 50%;
      z-index: -1;
      transform: translate(-55%, -47%);

      @media only screen and (min-width: $bp-medium) {
        content: url(../img/lines/about-me-line-2.svg);
        transform: translate(-50%, -62.5%);
      }

      @media only screen and (min-width: $bp-large) {
        content: url(../img/lines/about-me-line-3.svg);
        transform: translate(-63%, -51%);
      }

      @media only screen and (min-width: $bp-very-large) {
        content: url(../img/lines/about-me-line-4.svg);
        transform: translate(-58%, -56%);
        // transform: translate(-57.5%, -56.5%);
      }
    }
  }
}

.profile {
  margin: 1rem 1rem 2.5rem;
  padding: 1rem;
  max-width: 30.5rem;
  border-radius: 1.5rem;
  background-color: $background-color-400;

  @media only screen and (min-width: $bp-small-2) {
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (min-width: $bp-medium) {
    margin-bottom: 4rem;
    padding: 1.7rem;
    max-width: 37.5rem;
  }

  @media only screen and (min-width: $bp-large) {
    padding: 1rem 1.7rem;
    max-width: 42rem;
  }

  @media only screen and (min-width: $bp-very-large) {
    margin-bottom: 5rem;
    padding: 1.7rem;
    max-width: 44rem;
  }

  &__img {
    margin-left: 0.2rem;
    width: 8.5rem;
    border-radius: 50rem;
    float: right;

    @media only screen and (min-width: $bp-medium) {
      width: 10.9rem;
    }
  }

  &__text {
    font-size: 0.875rem;

    @media only screen and (min-width: $bp-medium) {
      font-size: 1rem;
      line-height: 1.7;
    }

    @media only screen and (min-width: $bp-large) {
      font-size: 0.94rem;
    }
  }
}

.skills {
  margin: 0 1rem 1.6rem;
  padding: 1rem;
  max-width: 30.5rem;
  border-radius: 1.5rem;
  background-color: $background-color-400;

  @media only screen and (min-width: $bp-small-2) {
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (min-width: $bp-medium) {
    padding: 1.7rem;
    max-width: 37.5rem;
  }

  @media only screen and (min-width: $bp-large) {
    padding: 1rem 1.7rem;
    max-width: 42rem;
  }

  @media only screen and (min-width: $bp-very-large) {
    padding: 1.7rem;
    max-width: 44rem;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 0.7rem;
    margin-top: -0.5rem;

    @media only screen and (min-width: $bp-medium) {
      font-size: 2.3rem;
      margin-bottom: 1.4rem;
    }

    @media only screen and (min-width: $bp-large) {
      margin-bottom: 0.8rem;
    }

    @media only screen and (min-width: $bp-very-large) {
      margin-bottom: 1.4rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 4.5rem);
    gap: 0.9rem;
    font-size: 0.875rem;

    @media only screen and (min-width: $bp-medium) {
      gap: 1.5rem;
      font-size: 0.94rem;
      grid-template-columns: repeat(auto-fill, 5rem);
    }

    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      gap: 0.5rem;
    }

    .fab {
      font-size: 2.8rem;
      color: rgba($text-color, 0.55);

      @media only screen and (min-width: $bp-medium) {
        font-size: 4rem;
      }
    }

    .skills__svg svg {
      width: 2.8rem;
      vertical-align: middle;
      fill: rgba($text-color, 0.55);

      @media only screen and (min-width: $bp-medium) {
        width: 4rem;
      }
    }
  }
}
