$accent-color: #ff4c29;
$background-color-500: #082032;
$background-color-400: #2c394b;
$background-color-300: #334756;

$text-color: #eeeeee;

$bp-small-1: 30em; // 480px
$bp-small-2: 32.5em; // 520px
$bp-medium: 39.375em; // 630px
$bp-large: 71.5em; // 1144px
$bp-very-large: 107.875em; // 1726px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color-500;
  color: $text-color;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.loading-overlay {
  display: block;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: $background-color-500;
  z-index: 99;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.nav {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 70;
  background-color: $background-color-500;

  @media only screen and (min-width: $bp-large) {
    left: 0;
    bottom: 0;
    top: 0;
    right: unset;
    background-color: transparent;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    list-style: none;

    @media only screen and (min-width: $bp-medium) {
      justify-content: center;
      gap: 3.5rem;
      padding-bottom: 3rem;
      height: 100%;
    }

    @media only screen and (min-width: $bp-large) {
      flex-direction: column;
      padding-left: 12vw;
      gap: 2.5rem;
    }
  }

  &__link:link,
  &__link:visited {
    position: relative;
    color: currentColor;
    text-decoration: none;

    @media only screen and (min-width: $bp-medium) {
      font-size: 1.375rem;
    }

    @media only screen and (min-width: $bp-large) {
      font-size: 1.25rem;
      transition: color 200ms ease;

      &:hover {
        color: $accent-color;
      }
    }

    @media only screen and (min-width: $bp-very-large) {
      font-size: 1.375rem;
    }

    &::before {
      z-index: -1;
      position: absolute;
      top: -0.2rem;
      bottom: -0.2rem;
      left: -0.6rem;
      right: -0.6rem;
      content: '';
      border-radius: 50rem;
      background-color: $background-color-400;
      visibility: hidden;

      @media only screen and (min-width: $bp-medium) {
        top: -0.6rem;
        bottom: -0.6rem;
        left: -1.1rem;
        right: -1.1rem;
      }
    }
  }

  &__item.active &__link::before {
    visibility: unset;
  }
}

.body {
  padding-bottom: 3.6rem;

  @media only screen and (min-width: $bp-medium) {
    padding-bottom: 6.1rem;
  }

  @media only screen and (min-width: $bp-large) {
    padding-bottom: 0;
    padding-left: 18.75rem;
  }

  &--my-work {
    padding: 1rem 1rem 0;

    @media only screen and (min-width: $bp-medium) {
      display: block;
      margin: 0 auto;
      max-width: 48.75rem;
    }

    @media only screen and (min-width: $bp-large) {
      padding-bottom: 0;
      padding-left: 18.75rem;
    }

    @media only screen and (min-width: $bp-very-large) {
      padding-left: 23rem;
    }
  }

  &--about-me {
    @media only screen and (min-width: $bp-large) {
      padding-left: 20rem;
    }

    @media only screen and (min-width: $bp-very-large) {
      padding-left: 30rem;
    }
  }
}
